<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
       $(function() {
            $('button[type=submit]').click(function(e) {

                //Prevent default submission of form
                e.preventDefault();

                $.post({
                    url : 'database',
                    data : $('form[name=frm1]').serialize(),
                    success : function(res) {
                        $('#result').text(JSON.stringify(res, null, 2));
                    }
                })
            });
        });
    </script>
 <!-- -->
</head>
<body>
<p th:text="'Hi ' + ${name}"/>
<form name="frm1">
    <input type="text" name="query" value=""><br>
    <button type="submit">Go</button>
</form>
<pre id="result"></pre>


</body>
</html>